# Task 1:
Given two integer numbers return their product. If the product is greater than 1000, then return their sum.

In [6]:
int_1 = int(input("Enter first integer:\n"))
int_2 = int(input("Enter second integer:\n"))
product_int = int_1*int_2
if product_int > 1000:
    sum_int= int_1+int_2
    print("Sum of two integer:"+" "+str(sum_int))
else:
    print(str(product_int)+" "+"is not grater then 1000")

Enter first integer:
400
Enter second integer:
3
Sum of two integer: 403

# Task 2:
   Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration
   print the sum of the current number and previous number

In [1]:
for i in range(0, 10):
    prev = i - 1
    sum_curent_prev = i + prev
    print(sum_curent_prev)

-1
1
3
5
7
9
11
13
15
17

# Task 3:
   Print First 10 natural numbers using while loop.

In [2]:
i=0
while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

# Task 4:
Accept number from user and calculate the sum of all number from 1 to a given number

In [8]:
given_num = int(input("Enter an integer number:\n"))
sum_of_given_num = 0
for s in range(1, given_num+1):
    sum_of_given_num += s
print(sum_of_given_num)

Enter an integer number:
7
28

# Task 5
Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

In [9]:
given_list = [10, 50, 30, 20, 19, 101, 102, 148, 145, 192, 106, 90, 20, 40, 60]
for val in given_list:
    if val > 150:
        print(str(val)+" "+"is grater then 150 so, iteration stop")
        break
    elif val % 5 == 0:
        print(str(val)+" "+"is divisible by 5")

10 is divisible by 5
50 is divisible by 5
30 is divisible by 5
20 is divisible by 5
145 is divisible by 5
192 is grater then 150 so, iteration stop

# Task 6
Reverse the following list using for loop

In [12]:
org_list = ['jamal', 20, 'kamal', 30, 'helo', 'key', 10]
for i in range(len(org_list) // 2):
    org_list[i], org_list[-1 -i] = org_list[-1 -i], org_list[i] 
    
rev_list = org_list

print(rev_list)

[10, 'key', 'helo', 30, 'kamal', 20, 'jamal']

# Task 7
Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function
For example: print('My', 'Name', 'Is', 'Tamim') will display MyNameIsJames

In [19]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

# Task 8
Concatenate two lists index-wise

In [24]:
list_1 = ['K', 'm', 'u', 'H', 's', 'n']
list_2 = ['a', 'r', 'l', 'a', 'a', ' ']
python
concated_list = [i+j for i,j in zip(list_1, list_2)]
print(concated_list)

['Ka', 'mr', 'ul', 'Ha', 'sa', 'n ']

# Task 9
Given a Python list of numbers. Turn every item of a list into its square

In [25]:
given_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for val in given_list:
    val = val**2
    print(val)

0
1
4
9
16
25
36
49
64
81

# Task 10
Access value 20 from the following tuple -> aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [27]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20